html {
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  top: -5%;
  z-index: 1;
  position: relative;
}

#map-flow {
}

#navBarContainer {
  background-color:#333; 
  width: 425px;
  position:fixed;
  top:0px;
  left:0px;
  font-weight:300;
  color:#333;
  height:5%;
  z-index:2;
  color: orange;
  margin-top:0;
  text-align:center;  
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;

}
