html {
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  top: -5%;
  z-index: 100;
}

#map-flow {
}

#navBarContainer {
  z-index: 200;
  border: solid 1px #ccc;
  position: relative; 

}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;

}
