html {
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  height: 100%;
  top: -2%;
  z-index: 1;
  position: relative;
}

#map-flow {
}

#navBarContainer {
  background-color:#333; 
  width: 425px;
  position:fixed;
  top:0px;
  right:0px;
  font-weight:300;
  color:#333;
  height:100%;
  opacity: .8;
  z-index:2;
  color: white;
  margin-top:0;
  text-align:center;  
}
.menu-border {
  max-width: 30px;
  max-height: 30px;
  z-index: 3;
  position: fixed;
  right:0px 

}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;

}
.toggle_btn {
  position:fixed;
  top:25px;
  right:25px;
  opacity:0.8;
  z-index: 5;
}


#profile-page {
  z-index: 5;
  text-align: center;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  border: 1px black;
  
}
